.edge {
    height: 0;
    position: absolute;
    z-index: 1;
    left: -1.7em;

    &.upper-edge {
        top: .8em;
        transform: rotate(-45deg);
    }

    &.bottom-edge {
        bottom: .8em;
        transform: rotate(-135deg);
    }
}

.element-container {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    height: 100%;
    margin-left: auto;

    &--inner {
        width: 100%;
        height: 100%;
        display: flex;
        flex-flow: row wrap;
        overflow-y: auto;
        position: relative;
        margin: auto;
        border-top-left-radius: $cont-border-radius;
        border-bottom-left-radius: $cont-border-radius;
        padding-right: 1em;

        .element {
            display: flex;
            flex-flow: column wrap;
            width: 7em;
            height: 7em;
            background: $el-back-color;
            margin: 0 0 1em auto;
            border-radius: $el-border-radius;
            transition: background .3s ease-in-out;
            overflow: hidden;
            justify-content: center;

            img {
                border-radius: $el-border-radius;
                max-height: 100%;
                width: 3.5em;
                margin: 0 auto;
                object-fit: contain;
            }

            p {
                color: white;
                max-width: 5em;
                text-overflow: ellipsis;
                font-size: .8em;
                margin: .3em auto 0;
            }

            &:hover {
                background: $el-hover-back-color;
            }
        }
    }
}

.element-info {
    background: $eli-back-color;
    padding: 1em;
}

.context-menu {
    position: absolute;
    display: none;
    flex-flow: column wrap;
    padding: .5em;
    background: $context-menu-back-color;
    border-radius: .5em;

    &.visible {
        display: flex;
    }

    .cm-item {
        display: block;
        border-radius: .5em;

        button {
            border: none;
            background: none;
            padding: .5em;
            color: white;
            border-radius: .5em;
            transition: background .3s $easing, color .3s $easing;
            width: 100%;
            text-align: left;
        }

        &:hover {
            button {
                color: black;
                background: lightgray;
            }
        }
    }
}

.options-menu-strip {
    display: flex;
    flex-flow: row;
    max-width: 100%;

    .oms-item {
        background: none;
        border: 1px solid $oms-border-color;
        color: white;
        padding: .5em;
        position: relative;

        input[type=file] {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            width: 100%;
            opacity: 0;
        }
    }
}
