.edge {
    height: 0;
    position: absolute;
    z-index: 1;
    left: -1.7em;

    &.upper-edge {
        top: .8em;
        transform: rotate(-45deg);
    }

    &.bottom-edge {
        bottom: .8em;
        transform: rotate(-135deg);
    }
}

.tooltip {
    position: absolute;
    padding: .45em .45em .35em .45em;
    border-radius: $tooltip-border-radius;
    color: $tooltip-color;
    Background: $tooltip-back-color;
    bottom: -20%;
    left: 50%;
    text-align: center;
    font-size: .7em;
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s $easing;
    z-index: 1;
    transform: translateX(-50%);
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    word-break: break-all;
}

.element-container {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    height: 100%;
    margin-left: auto;

    &--inner {
        width: 100%;
        height: 100%;
        display: flex;
        flex-flow: row wrap;
        overflow-y: auto;
        position: relative;
        margin: auto;
        padding-right: 1em;

        .element {
            display: flex;
            flex-flow: column wrap;
            width: 7em;
            height: 7em;
            background: $el-back-color;
            margin: 0 0 1em auto;
            border-radius: $el-border-radius;
            transition: background .3s ease-in-out;
            justify-content: center;
            position: relative;

            &:hover {
                .tooltip {
                    visibility: visible;
                    opacity: 1;
                }
            }

            button {
                background: none;
                border: none;
                padding: .5em;
                width: 100%;
                height: 100%;

                img {
                    border-radius: $el-border-radius;
                    max-height: 100%;
                    width: 3.5em;
                    margin: 0 auto;
                    object-fit: contain;
                }

                p {
                    color: white;
                    max-width: 100%;
                    font-size: .8em;
                    margin: .3em auto 0;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }

            &:hover {
                background: $el-hover-back-color;
            }
        }
    }
}

.element-info {
    background: $eli-back-color;
    padding: 1em;
    border-radius: $eli-border-radius;
    color: white;

    &--inner {
        display: flex;
        flex-flow: column wrap;
    }

    .info-sec {
        display: block;

        .label {
            font-weight: bold;
            position: relative;

            &:after {
                position: relative;
                margin: 0 .2em;
                content: ":";
                display: inline-block;
            }
        }

        .value {
            font-weight: normal;
        }
    }
}

.context-menu {
    position: absolute;
    display: none;
    flex-flow: column wrap;
    padding: .5em;
    background: $context-menu-back-color;
    border-radius: .5em;

    &.visible {
        display: flex;
    }

    .cm-item {
        display: block;
        border-radius: .5em;

        button {
            border: none;
            background: none;
            padding: .5em;
            color: white;
            border-radius: .5em;
            transition: background .3s $easing;
            width: 100%;
            text-align: left;
            position: relative;
            font-size: .85em;
        }

        &:hover {
            button {
                background: $cm-item-hover-back-color;
            }
        }
    }
}

.options-menu-strip {
    display: flex;
    flex-flow: row;
    max-width: 100%;

    .oms-item {
        background: none;
        border: 1px solid $oms-border-color;
        color: white;
        padding: .5em;
        position: relative;

        input[type=file] {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            width: 100%;
            opacity: 0;
        }
    }
}
