.tooltip {
    position: absolute;
    padding: .45em .45em .35em .45em;
    border-radius: $tooltip-border-radius + 1em;
    color: $tooltip-color;
    background: var(--cm-button-hover-color);
    text-align: center;
    font-size: .7em;
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s $easing;
    z-index: 3;
    max-width: 100%;
    overflow: hidden;
}

.element-container {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    height: 100%;
    margin-left: auto;

    &--inner {
        width: 100%;
        height: 100%;
        display: flex;
        flex-flow: row wrap;
        overflow-y: auto;
        position: relative;
        margin: auto;
        padding-right: 1em;
        border-top-left-radius: 2em;
        border-bottom-left-radius: 2em;

        .content {
            position: relative;
            display: flex;
            flex-flow: column wrap;

            .element {
                display: flex;
                flex-flow: column wrap;
                width: 7em;
                height: 7em;
                background: $el-back-color;
                margin: 0 0 1em auto;
                border-radius: $el-border-radius;
                transition: background .3s $easing, transform .3s $easing, opacity .3s $easing;
                justify-content: center;
                position: relative;
                animation: FadeUp .3s $easing;

                .tooltip {
                    display: -webkit-box;
                    -webkit-line-clamp: 4;
                    -webkit-box-orient: vertical;
                    word-break: break-all;
                    width: 100%;
                    transform: translateX(-50%);
                    bottom: -20%;
                    left: 50%;
                }

                &:hover {
                    .tooltip {
                        visibility: visible;
                        opacity: 1;
                    }

                    background: $el-hover-back-color;
                }

                button {
                    background: none;
                    border: none;
                    padding: .5em;
                    width: 100%;
                    height: 100%;
                    z-index: 1;

                    img {
                        max-height: 100%;
                        width: 3.5em;
                        margin: 0 auto;
                        object-fit: contain;
                    }

                    p {
                        color: white;
                        max-width: 100%;
                        font-size: .8em;
                        margin: .3em auto 0;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }

                .check-state {
                    display: none;
                    position: absolute;
                    top: .5em;
                    left: .5em;
                    animation: FadeIn .3s $easing forwards;
                    width: 1.2em;
                    height: 1.2em;
                    border-radius: .4em;
                    border: 2px solid lightgray;
                    overflow: hidden;
                    transition: background .3s $easing;
                    z-index: 1;

                    input {
                        position: absolute;
                        top: 0;
                        left: 0;
                        bottom: 0;
                        width: 100%;
                        height: 100%;
                        opacity: 0;
                        z-index: 2;
                    }

                    img {
                        display: none;
                        animation: FadeIn .3s $easing forwards;
                        position: absolute;
                        top: 0;
                        left: 0;
                        bottom: 0;
                        width: 100%;
                        opacity: 0;
                        z-index: 1;
                        object-fit: contain;
                    }

                    &--checked {
                        background: var(--cm-button-hover-color);

                        img {
                            display: block;
                        }
                    }

                    &.visible {
                        display: block;
                    }
                }
            }

            .placeholder-text {
                position: absolute;
                margin: auto;
                width: 100%;
                text-align: center;
                color: lightgray;

                i {
                    display: block;
                }
            }
        }
    }
}

.element-info {
    background: $eli-back-color;
    padding: .5em;
    margin-bottom: .5em;
    border-radius: $eli-border-radius;
    color: white;
    animation: FadeUp .5s $easing forwards;
    width: 100%;

    &#about-dialog {
        background: var(--cm-button-hover-color);
        height: 100%;
        word-break: break-word;
        margin-top: 2em;
        padding: 1em;

        .info-data {
            display: flex;
            flex-flow: column wrap;
            margin-bottom: .5em;
        }

        .social-links {
            display: flex;
            flex-flow: row wrap;

            .link-icon {
                color: white;
                display: inline-block;
                margin-right: 1em;
            }
        }
    }

    &--inner {
        display: flex;
        flex-flow: column wrap;
    }

    .info-sec {
        display: block;
        background: none;
        border: none;
        color: white;
        text-align: left;
        transition: background .3s $easing;
        padding: .5em 1em;
        border-radius: $eli-border-radius;
        position: relative;

        &--n {
            padding: 0;
            background: none;
            border-radius: 0;
        }

        .tooltip {
            width: auto;
            left: -2.5em;
            top: 50%;
            transform: translateY(-50%);
            display: inline-block;
            font-size: .6em;
        }

        &:hover {
            .tooltip {
                visibility: visible;
                opacity: 1;
            }

            background: $el-hover-back-color;
        }

        .label {
            font-weight: bold;
            position: relative;

            &:after {
                position: relative;
                margin: 0 .2em;
                content: ":";
                display: inline-block;
            }
        }

        .value {
            font-weight: normal;
        }
    }

    .status {
        display: none;
        animation: FadeIn .3s $easing both;
        position: absolute;
        z-index: 1;
        padding: .5em;
        border-radius: $eli-border-radius;
        background: var(--cm-button-hover-color);
        color: white;
        top: 82%;
        left: 82%;
        font-size: .8em;

        &.visible {
            display: block;
        }
    }
}

.context-menu {
    position: absolute;
    display: none;
    flex-flow: column wrap;
    padding: .5em;
    background: $context-menu-back-color;
    border-radius: .5em;

    &.visible {
        display: flex;
    }

    .cm-item {
        display: block;
        border-radius: .5em;

        button, a {
            border: none;
            background: none;
            padding: .5em;
            color: white;
            border-radius: .5em;
            transition: background .3s $easing;
            width: 100%;
            text-align: left;
            position: relative;
            font-size: .85em;
        }

        &:hover {
            button {
                background: var(--cm-button-hover-color);
            }
        }
    }
}

.options-menu-strip {
    display: flex;
    flex-flow: row;
    max-width: 100%;

    .oms-item {
        background: none;
        border: 1px solid $oms-border-color;
        color: white;
        padding: .5em;
        position: relative;

        input[type=file] {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            width: 100%;
            opacity: 0;
        }
    }
}
