/*Font*/
$font-family: "Century Gothic";
$font-size: 1em;

/*Colors*/
$accent-color: #ff8c00;
$back-color: #1E1E1E; /*#252526  #ff8c00 #ff8c00*/
$border-color: $accent-color;

/*Window*/
$window-border-radius: 4.2em;


/*Content Container*/
$cont-back-color: #1E1E1E;
$cont-border-radius: 3em;

/*Element*/
$el-border-radius: 1.5em;
$el-back-color: #252526;
$el-hover-back-color: #2D2D30;

/*Element Info*/
$eli-back-color: $el-back-color;
$eli-border-radius: $el-border-radius;

/*Context Menu*/
$context-menu-back-color: #232324;
$cm-item-hover-back-color: $accent-color;

/*Easing*/
$easing: cubic-bezier(0.65, 0, 0.35, 1);

/*Options Menu Strip*/
$oms-border-color: #ff8c00;
$oms-back-color: #252526;

/*Line Awesome*/
$la-font-path: "/../lib/line-awesome/dist/line-awesome/fonts";

/*Tooltips*/
$tooltip-border-radius: .5em;
$tooltip-back-color: $accent-color;
$tooltip-color: white;
