@using Shared.ContextMenu

<div class="check-state @(Visible || CheckState ? "visible" : "") @(CheckState ? "check-state--checked" : "")">
    <input type="checkbox" value="@CheckState" @onchange="OnChange" checked="@CheckState"/>
    <img src="/img/check.png" alt="Check Mark" />
</div>

@code {
    [Parameter] public bool Visible { get; set; }
    [Parameter] public bool Checked { get; set; }

    /// <summary>
    /// A callback for reporting the change in value to the parent Element component
    /// </summary>
    [Parameter] public EventCallback<bool> ElementCheckboxCallback { get; set; }

    /// <summary>
    /// Internal check state
    /// </summary>
    public bool CheckState = false;

    protected override void OnInitialized()
    {
        CheckState = Checked;
    }

    /// <summary>
    /// This will inform the parent Element component of the checkbox change
    /// </summary>
    /// <param name="e"></param>
    /// <returns></returns>
    async Task OnChange(ChangeEventArgs e)
    {
        CheckState = (bool)e.Value;
        StateHasChanged();
        await ElementCheckboxCallback.InvokeAsync(CheckState);
    }

    /// <summary>
    /// Check the checkbox via component reference
    /// </summary>
    public void Check()
    {
        CheckState = true;
        StateHasChanged();
    }

    /// <summary>
    /// Clear the checkbox via component reference
    /// </summary>
    public void Clear()
    {
        CheckState = false;
        StateHasChanged();
    }
}