@using Helpers
@using Shared.ContextMenu
@using BlazorElectronToolbar.Shared
@inject IToolbarCommandControl ToolbarCommandControl
@inject ToolbarExpandNotifier ExpandNotifier

<div class="element" @oncontextmenu="OnRightClick" @oncontextmenu:preventDefault="true" @oncontextmenu:stopPropagation="true">
    <Tooltip>@File.Name</Tooltip>
    <button type="button" @onclick="Run">
        <img src="/img/@(string.IsNullOrEmpty(ActiveIcon) ? FileIconPath : ActiveIcon)?r=@(new Random(1).Next(100,50000))" alt="@File.Name icon" />
        <p>@File.Name</p>
    </button>
    <Checkbox @ref="Checkbox" Visible="CheckedMode" ElementCheckboxCallback="OnCheckboxChecked"></Checkbox>
</div>

@code {
    [Parameter] public EventCallback<CMEventArgs> OnContextMenu { get; set; }
    [Parameter] public FileDescriptor File { get; set; }
    [Parameter] public bool CheckedMode { get; set; }
    [Parameter] public EventCallback<CMEventArgs> CheckBoxCallback { get; set; }

    Checkbox Checkbox;

    string FileIconPath = "app-default.png"; //Default icon in case we couldn't fetch the app icon.
    string FolderIconPath = "folder-default.png"; //Default icon for folders.
    string ActiveIcon;

    bool IsFolder;
    bool IconCreated;

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        //Console.WriteLine($"Element {File.Name} after render, active icon {ActiveIcon}");
        if (firstRender && !IconCreated)
        {
            //Console.WriteLine($"Element {File.Name} after render, first render, active icon {ActiveIcon}");
            IsFolder = await ToolbarCommandControl.DirectoryOrFile(File.Path);
            await CreateIcon();
            //Console.WriteLine($"Element {File.Name} after render, first render, icon created {IconCreated}, active icon {ActiveIcon}");
        }
    }

    async Task OnRightClick(MouseEventArgs e)
    {
        await OnContextMenu.InvokeAsync(new CMEventArgs { MouseEventArgs = e, ItemId = File.FileId, Checked = Checkbox.CheckState });
    }

    async Task OnCheckboxChecked(bool CheckState)
    {
        await CheckBoxCallback.InvokeAsync(new CMEventArgs { Checked = CheckState, ItemId = File.FileId });
    }

    public void CheckCheckbox()
    {
        Checkbox.Check();
    }

    public void ClearCheckBox()
    {
        Checkbox.Clear();
    }

    async Task CreateIcon()
    {
        if (!IsFolder)
        {
            var res = await ToolbarCommandControl.CreateFileIcon(File.FileId, File.Path);

            if (res)
            {
                ActiveIcon = File.FileId + ".png";
            }
        }
        else
        {
            ActiveIcon = FolderIconPath;
        }

        IconCreated = true;
        StateHasChanged();
    }

    async Task Run()
    {
        var res = await ToolbarCommandControl.Run(File.Path);

        if (!res) //Make an error dialog instead
        {
            throw new Exception($"App {File.Name} failed to start!");
        }
    }
}